<div class="container">
  <div class="row">
    <div class="col col-md"></div>
    <div class="col-10 col-md-8">
      <button type="button" class="btn btn-success" routerLink="/nuevoCurso">Añadir nuevo curso</button>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>         
        </tbody>
      </table>
    </div>
    <div class="col col-md"></div>
  </div>
</div>