<div class="container">
  <div class="row">
    <div class="col col-md"></div>
    <div class="col-10 col-md-8">
      <form [formGroup]="cursoForm"  (ngSubmit)="guardarCurso()" >
        <div class="form-group">
          <label for="nombreCurso">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre">
        </div>
        <p class="alert alert-danger" *ngIf="!cursoForm.controls.nombre.valid && cursoForm.controls.nombre.touched">
          El nombre del curso es obligatorio, mínimo ocho caracteres.
        </p>
        <label for="descripcion">Descripción</label>
        <textarea class="form-control" id="descripcion" rows="3" formControlName="descripcion"></textarea>
        <hr>
        <button type="submit" 
          class="btn btn-primary"
          [disabled]="!cursoForm.valid">Guardar curso</button>
          <hr>
          <p class="alert alert-danger" *ngIf="!cursoForm.valid">
            Por favor complete todos los campos obligatorios.
          </p>
      </form>
      <hr>
      <pre>
        Valor del curso: {{ cursoForm.value | json }} 
      </pre>
      <pre>
        Valordel objeto: {{ curso | json }}
      </pre>
    </div>
    <div class="col col-md"></div>
  </div>
</div>