/* You can add global styles to this file, and also import other style files */
div.background {
    background-image: url("../../directCoffee/src/assets/imgs/fondoDibujos.jpg"); 
    background-size: cover;
    background-position: center;
    filter: alpha(opacity=50);
    background-repeat: no-repeat;  
    z-index: -2000;  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }

 